body {
    
    background-color: rgb(203, 234, 192);
    }

    h1 {
    text-align: center;
    color: #df0606;
    text-decoration: underline;
    font-size: 45px;
    }

    .p1 {
        text-align: center;
    font-size: 16px;
    color: #ec0546;
    font-weight: 700;
    font-size: 20px;
    text-decoration: overline;
    }

    nav {
    text-align: center;
    }
img{
    border: 10px solid black;
}

#id1{
    font-size: 30px;
    color: rgb(59, 136, 59);
}
p{
    text-align: center;
    font-size: 10px;
    color: purple;
    text-decoration: underline;
}
.c1{
    font-style: italic;
    color: rgb(35, 35, 169);
}